/CrudUser202/nbproject/private/
/CrudUser202/build/
/Registro/nbproject/private/
/Registro/build/
/Especies/nbproject/private/
/FromEspecies/nbproject/private/
/Scanner/nbproject/private/
/Scanner/build/
/ejemplo/nbproject/private/
